  <h2 class="page-headline">Active Opportunities {{vm.myname}}</h2>
  <!-- Button trigger modal -->
  <button type="button" class="new-opp btn btn-primary btn-lg" data-toggle="modal" data-target="#dashModal">
      NEW OPPORTUNITY
  </button>

  <ul class="jobboard">
   <li class = "jobs-list" ng-repeat= "job in vm.jobs"><a ng-href="#/dashboard/job/{{job._id}}"> {{ job.company }}</a></li>
  </ul>

<!-- DASHBOARD MODAL -->
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="dashModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">New Opportunity</h4>
          </div>
          <div class="modal-body">
            <form name="vm.myForm" ng-submit="vm.addJob()">
              <h3>Position:</h3>
              <input type="text" name="position" required ng-model="vm.position" placeholder="Position">
              <h3>Company:</h3>
              <input type="text" name="company" required ng-model="vm.company" placeholder="Company"></input>
              <h3>Job Description:</h3>
              <input type="text" name="description" required ng-model="vm.description" placeholder="Description"></input>
              <h3>Salary:</h3>
              <input type="text" name="salary" required ng-model="vm.salary" placeholder="Salary"></input>
              <h3>Rating:</h3>
              <input type="text" name="rating" required ng-model="vm.rating" placeholder="Rating"></input>
              <h3>Location:</h3>
              <input type="text" name="location" required ng-model="vm.location" placeholder="Location"></input>
              <button type="submit" class="btn btn-primary">Save Job</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

          </div>

        </div>
      </div>
    </div>

