@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700,800);

.page-headline {
  color: white;
  text-align: center;
  font-family: raleway;
  font-weight: 800;
  font-size: 50px;
}


.section-h2 {
  text-align: center;
  margin: 0px;
  padding: 15px;
  color: white;
  font-family: raleway;
  font-weight: 800;
}

.section-well {
  height: 2%;
}

.navigation, .navigation ul {
  background-color: white;
}

.menu > li > a {
  color: black;
}

ul > .menu-text > a {
  color: #e74c3c;
  font-size: 30px;
  font-weight: 800;
}

.headline-mid {
  font-family: raleway;
  font-weight: 500;
  font-size: 50px;
  color: #e74c3c;
}

.text {
  font-family: raleway;
  font-weight: 500;
  font-size: 20px;
  color: #2c3e50;
}

footer {
  background-color: white;
  text-align: center;
  font-family: raleway;
  height: 30%;
}
