.page-headline {
  color: white;
  text-align: center;
}


.section-h2 {
    text-align: center;
    margin: 0px;
    color: red;
}

.section-well {
  height: 2%;
}

.navigation, .navigation ul {
  background-color: white;
}

.menu > li > a {
  color: black;
}

ul > .menu-text > a {
  color: grey;
  font-size: 25px;
}
