/* Layout */

body {
  background-image: url("/images/grey-city.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.job-section {
    background-color: white;
    margin: 10% 20% 20% 20%;
    color: red;
    height: 400px;
    border: white solid;
    overflow: scroll;
}

.section-h2 {
    text-align: center;
    margin: 0px;
    color: red;
}

.section-well {
  height: 2%;
}

.navigation, .navigation ul {
  background-color: #CC342E;
}

.menu > li > a {
  color: white;
}

ul > .menu-text > a {
  color: lightgrey;
  font-size: 25px;
}

.section-bullets li a {
  color: red;
  font-size: 20px;
}
