/* Layout */

body {
  background-image: url("/images/grey-city.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.job-section {
  background-color: white;
  margin: 10% 20% 20% 20%;
  color: red;
  height: 400px;
  border: white solid;
  overflow: scroll;
}

.job-section > h3 {
  font-family: raleway;
  font-weight: 500;
  color: #2c3e50;
}

.section-font-color {
  color: #2c3e50;
}

.section-header-color {
  color: #e74c3c
}
.section-bullets li a {
  color: #e74c3c;
  font-family: raleway;
  font-size: 20px;
  font-weight: 500;
}
