body {
  background-image: url("/images/grey-meeting.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.new-opp {
  margin-left: 55%;
  margin-top: 5%;
}

.existing-opp {
  color: white;
  margin-left: 30%;
  font-family: raleway;
  font-size: 40px;
  font-weight: 500;
}
