/* inspiration:
https://www.rodesk.com/
http://www.awwwards.com/sites/rodesk-user-experience-expertise */



body {
  /*background-color: #2A363B;*/
}

.navigation, .navigation ul {
  background-color: white;
}

.menu > li > a {
  color: black;
}

ul > .menu-text > a {
  color: grey;
  font-size: 25px;
}

.cover-top {
  background-image: url("/images/cover-main-grey-light.jpg");
  background-size: cover;
  height: 100%;
  /*background: rgba(200,23,43,.5);*/
}

.image {
  display: none;
  background-size: contain;
}

.headline-section {
    padding: 15% 20% 35% 5%;
    color: white;
}

.headline-section-h1 {
    font-family: raleway;
    font-weight: 700;
    font-size: 105px;
}

.test1 {
  height: 250px;
    width: 28%;
    background: rgba(10,32,43,.9);
    float: left;
    margin-left: 40px;
    /*margin-top: 2.5%;*/
    background-image: url('/images/hustle1-grey.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 13%; */
    opacity: .95;

}
.test2 {
    height: 250px;
    width: 28%;
    background: rgba(500,26,13,.9);
    float: right;
    margin-right: 40px;
    background-image: url('/images/hustle6-grey.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .95;
}

.test3 {
  background-image: url('/images/hustle4-grey.jpg');
  width: 28%;
  background-size: cover;
  float: right;
  height: 250px;
  opacity: .95;
  margin: 0% 4%;
}

.boxes {
  margin-top: -12%;
}

.box-text {
  color: white;
  text-align: center;
  margin-top: 37%;
  font-family: raleway;
}

.section-mid {
    background-color: white;
    margin: 15% 40px 0px 40px;
    height: 450px;
    padding: 15% 10%;
}

.figure-bottom {
  background-image: url("/images/main-bottom.jpg");
  height: 100%;
  background-size: cover;
  width: 100%;
  margin: 0%;
}

.section-bottom {
  padding-top: 30%;
}
