/* Home Page */

/* Background for Dashboard and Job Page */

/*
  Backgrounds to be added with angular on Dashboard and Job Page
  http://stackoverflow.com/questions/21791411/how-to-set-body-attribute-in-css-using-angularjs
*/

.blue {
  background-image: url("/images/grey-city.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

body.job-background {
  background-image: url("/images/grey-city.jpg");
  background-attachment: fixed;
  background-size: cover;
}

body.dashboard-background {
  background-image: url("/images/grey-meeting.jpg");
  background-attachment: fixed;
  background-size: cover;
}

/*body {
  background-image: url("/images/grey-meeting.jpg");
  background-attachment: fixed;
  background-size: cover;
}*/


.navigation, .navigation ul {
  background-color: white;
}

.menu > li > a {
  color: black;
}

ul > .menu-text > a {
  color: #e74c3c;
  font-size: 30px;
  font-weight: 800;
}

.cover-top {
  background-image: url("/images/cover-main-grey-light.jpg");
  background-size: cover;
  height: 100%;
  margin-top: 0px;
}

.btn-to-dash {
  margin: -50% 0% 0% 15%;
  font-size: 25px;
  padding: 2% 6%;
  background-color: #e74c3c;
  font-family: raleway;
}

/*.gray-box {
  height: 100%;
  margin: 40px;
  background-color: rgba(128, 128, 128, 0.8);
  opacity: .4;
  width: 45%;
  position: absolute;
  right: 40px;
}*/

.image {
  display: none;
  background-size: contain;
}

.headline-section {
    padding: 15% 20% 35% 5%;
    color: white;
}

.headline-section-h1 {
    font-family: raleway;
    font-weight: 700;
    font-size: 105px;
}

.test1 {
  height: 250px;
    width: 28%;
    background: rgba(10,32,43,.9);
    float: left;
    margin-left: 40px;
    /*margin-top: 2.5%;*/
    background-image: url('/images/hustle1-grey.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* padding: 13%; */
    opacity: .95;

}
.test2 {
    height: 250px;
    width: 28%;
    background: rgba(500,26,13,.9);
    float: right;
    margin-right: 40px;
    background-image: url('/images/hustle5-grey.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .95;
}

.test3 {
  background-image: url('/images/hustle4-grey.jpg');
  width: 28%;
  background-size: cover;
  float: right;
  height: 250px;
  opacity: .95;
  margin: 0% 4%;
}

.boxes {
  margin-top: 3%;
}

.box-text {
  color: white;
  text-align: center;
  margin-top: 37%;
  font-family: raleway;
}

.section-mid {
    background-color: white;
    margin: 15% 40px 0px 40px;
    height: 450px;
    padding: 15% 10%;
}

.figure-bottom {
  background-image: url("/images/main-bottom.jpg");
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  width: 100%;
  margin: 0%;
/*  background-attachment: fixed;*/
}

.section-bottom {
  padding-top: 30%;
}

.section-bottom-p {
  background-color: white;
  margin: 25px 50px 20px 50px;
  padding: 40px;
  opacity: .7;
}

.footer-left {
  float:left;
  margin: 10%;
}

.footer-right {
  float: right;
  margin: 13% 10%;
}

.footer-logo {
  font-family: raleway;
  font-weight: 800;
  font-size:40px;
  color: #e74c3c;
}

.footer-copy {
  font-size: 20px;
  color: grey;
  font-family: raleway;
  font-weight: 800;
}

.footer-address{
  font-size:25px;
  font-family: raleway;
  font-weight: 400;
}

/* Dashboard Page */

.new-opp {
  margin-left: 55%;
  margin-top: 5%;
}

.existing-opp {
  color: white;
  margin-left: 30%;
  font-family: raleway;
  font-size: 40px;
  font-weight: 500;
}

/* Job Page */

.job-section {
  background-color: white;
  margin: 10% 20% 20% 20%;
  color: red;
  height: 400px;
  border: white solid;
  overflow: scroll;
}

.job-section > h3 {
  font-family: raleway;
  font-weight: 500;
  color: #2c3e50;
}

.jobs-list {
  color: white;
  text-align: center;
  font-size: 35px;
}

.section-font-color {
  color: #2c3e50;
}

.section-header-color {
  color: #e74c3c
}
.section-bullets li a {
  color: #e74c3c;
  font-family: raleway;
  font-size: 20px;
  font-weight: 500;
}


