
  <section>
    <figure class="cover-top">
      <!-- <img class="image" src="/images/cover-main.jpg"> -->
      <!-- <div class="gray-box"></div> -->
      <section class="headline-section">
        <h1 class="headline-section-h1">Cappstone</h1>
        <h3>Leverage, Agile, Frameworks </h3>
      </section>
    </figure>
  </section>
  <section class="boxes">
      <section class="test1"><h3 class="box-text">Apply to Jobs</h3></section>
      <section class="test2"><h3 class="box-text">Land the Job</h3></section>
      <section class="test3"><h3 class="box-text">Track Your Progress on the Go</h3></section>
  </section>
  <div>
    <section class="section-mid">
      <h2 class="headline-mid">Capitalise on low hanging fruit</h2>
      <p class="text">
        Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
    </section>
  </div>
  <section>
    <figure class="figure-bottom">
      <section class="section-bottom">
        <p class="section-bottom-p text">Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
      </section>
    </figure>
</section>
  <footer>
    <section class="footer-left">
      <h1 class="footer-logo">Cappstone</h1>
      <h4 class="footer-address">1224 E Jefferson St</h4>
      <h4 class="footer-address">Seattle, WA 98122</h4>
    </section>
    <section class="footer-right">
      <h4>Leverage, Agile, Frameworks</h4>
      <h4 class="footer-copy">Cappstone LLC | Copyright 2016</h4>
    </section>
  </footer>
