<!-- Nav Bar -->
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
  </div>
  <div class="top-bar navigation" id="example-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text" ui-sref-active="active"><a ng-href="#/">Cappstone</a></li>
        <li class="nav-li" ui-sref-active="active"><a ng-href="#/">Home</a></li>
        <li class="nav-li" ui-sref-active="active"><a ng-href="#/dashboard">Dashboard</a></li>
      </ul>
    </div>
  </div>
  <div class="top-bar-right">
  </div>
